section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px;
  gap: 15px;
}

.internet-info-panel {
  display: flex;
  gap: 15px;
  max-height: 45vh;
  justify-content: space-between;
}

.forecast-panel {
  width: 60%;
}

.forecast-data-table {
  height: 100%;
  overflow-y: auto;
}

.weather-panel {
  width: 40%;
}

.background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modules-info-panel {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.humity-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}

.humity-sensors {
  flex: 1;
}

.humity-charts {
  flex: 2;
}

.module-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  margin: 0.5rem;
  text-align: center;
}

.gauge-tab-panel{
  display: flex;
  justify-content: center;
  align-items: center;
}